@{
    Layout = null;
}

@if (ViewBag.SuccesMsg != null)
{
    <h3 style="font-family:'Times New Roman', Times, serif; color:darkblue"> @ViewBag.SuccesMsg</h3>
}
@if (ViewBag.FailedMsg != null)
{
    <h3 style="font-family:'Times New Roman', Times, serif; color:firebrick"> @ViewBag.SuccesMsg</h3>
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <div>
        <form method="post">
            <table>
                <tr>
                    <td>Name</td>
                    <td>
                        <input type="text" name="Name" />
                    </td>
                </tr>
                <tr>
                    <td>Address</td>

                    <td>
                        <input type="text" name="Address" />
                    </td>
                </tr>
                <tr>
                    <td>Age</td>

                    <td><input type="text" name="Age" /></td>
                </tr>
                <tr>
                    <td>Action</td>

                    <td><input type="submit" value="Save" /></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
