@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Daynamic Developer Online shop</h1>
    <p class="lead">Online shopping is a form of electronic commerce which allows consumers to directly buy goods or services from a seller over the Internet using a web browser. Consumers find a product of interest by visiting the website of the retailer directly or by searching among alternative vendors using a shopping search engine, which displays the same product's availability and pricing at different e-retailers. As of 2016, customers can shop online using a range of different computers and devices, including desktop computers, laptops, tablet computers and smartphones.

        An online shop evokes the physical analogy of buying products or services at a regular "bricks-and-mortar" retailer or shopping center; the process is called business-to-consumer (B2C) online shopping. When an online store is set up to enable businesses to buy from another businesses, the process is called business-to-business (B2B) online shopping. A typical online store enables the customer to browse the firm's range of products and services, view photos or images of the products, along with information about the product specifications, features and prices.</p>
    <p><a href="~/Home/Index" class="btn btn-primary btn-lg">Click &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Category</h2>
        <p>Go to Category Details
        </p>
        <p><a class="btn btn-default" href="~/Category/Index">Click &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Customer</h2>
        <p>Go to Customer Details</p>
        <p><a class="btn btn-default" href="~/Customer/Index">Click&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Product</h2>
        <p>Go to Product Details</p>
        <p><a class="btn btn-default" href="~/Product/Index">Click &raquo;</a></p>
    </div>
</div>